html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
}
a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}
.panelHeader {
    text-decoration: none;
    font-size: 60px;
    margin-bottom: -15px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tableHeader {
    background-color: lightcyan;
    border: 2px solid black;
    height: 35px !important;
}
table td{
    border: 1px solid black;
}
table td:not(:first-child) {
    border: 1px solid black;
    vertical-align: top;
    padding-top: 10px;
}

table {
    text-align: center;
    background-color: aliceblue;
    color: black;
    overflow: auto;
}
#table {
    overflow: auto;
    max-width: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
    align-items: stretch;
}
#table tr {
    width: 100%;
}
#table td {
    min-width: 40px;
}
#table td:last-child {
    align-items: stretch;
}
.fixedHeader {
    min-width: 40px;
    min-height: 70px;
}
.imgCell {
    width: 200px !important;
}
.imgCell:hover {
    cursor:pointer;
}
.nameCell:hover {
    color:blue;
    cursor:pointer;
    font-weight: bold;
}
table td:hover {
    border: 1px solid black;
    background-color: beige;
}
.blankRow {
    height: 10px !important;
    background-color: #FFFFFF;
}

#uploadForm {
    padding: 40px;
}
#a1 {
    font-size: 18px;
}
#a1:hover {
    font-weight: bold;
}


/*SVG VIEW LOG*/

#viewLogTable {
    table-layout: fixed ;
    width: 100%;
    overflow: auto;
}
#titleTable {
    display:flex;
    flex-direction: row;
    overflow: auto;
    width: 100%;
}
#titleTable th {
    padding: 0 200px;
}
#titleTable td {
    padding: 20px 30px;
}
.componentsParent {
    display: flex;
    flex-direction: row;
    height: 220px !important;
}
#componentTable {
    display:block;
    overflow: auto;
    width: 60% !important; 
}
#OAList {
    border: 1px solid black;
    overflow: auto;
    width:40% !important;
}
#OAListHeader {
    height: 35px !important;
}
#mytbody2 {
    height: 165px !important;
    border-width: 1px;
}

/*FORMS AND EDIT BUTTONS*/

.editHeader {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
}
.editButton {
    font-weight: bold;
}
.editButton:hover {
    background-color: rgb(204, 202, 202);
    cursor: pointer;
    color: #3801ff;
}
.noeditButton {
    font-weight: bold;
}
.noeditButton:hover {
    background-color: rgb(204, 202, 202);
    cursor: pointer;
    color: #ff0101;
}
.submitButton {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(150, 0, 0);
    color:beige;
}
.submitButton:hover {
    font-weight: bold;
    background-color: rgb(100, 0, 0);
    cursor: pointer;
}
.editParent {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}
.edit {
    padding: 0px, 10px;
    float: left;
    display: inline;
    width: 25%;
}

/*ADDING*/
.addParent {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.add {
    padding: 0px, 10px;
    float: left;
    display: inline;
    width: 20%;
}

.addHeader {
    font-size: 35px;
    font-family: Impact, Haettenschweiler;
    color:rgb(20, 20, 20);
    font-size: 300%;
    margin-top: 20px;
    user-select: none;
    transition: 0.4s;
}

.addHeader:hover {
    cursor: pointer;
    filter: drop-shadow(3px 3px 0px rgb(20, 20, 20));
    color:rgb(65, 242, 255);
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px, #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px, #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,   #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    transform: translate(-13px, -13px);
}



/* ---------------Dropdown Button */

.dropbtn {
    background-color: #3801ff;
    color: white;
    padding: 10px 50px;
    font-size: 16px;
    border: none;
}
.dropbtn:hover {
    box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.2);
    z-index: 2;
}


/*title*/
#TITLE {
    font-family: 'Impact', 'Gill Sans';
    font-size: 120px;
    color:rgb(65, 242, 255);
    filter: drop-shadow(7px 7px 0px rgb(20, 20, 20));
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px, #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px, #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,   #000 0px 0px 1px;
}